#back {
    width: 100%;
    margin: auto;
    background-color: white;
}

#map {
    background-color: gray;
}

#container {
/*    width: 600px;*/
    margin: auto;
    background-color: #EFEFEF;
    padding: 10px;
}

h1{
    font-size: 20px;
}

h2 {
    margin-left: auto;
    margin-top: 20px;
}

input[type=text] {
/*    width: 200px;*/
    height: 30px;
    font-size: 15px;
    margin: 10px auto;
    border-radius: 15px;
    border: solid 1px;
}
button{
    background-color:#FFE900 ;
}